<div class="container">
  <h1 class="display-3">Welcome to Flares</h1>
  <p class="lead">Don't let fun go to waste</p>
  <p>Connecting you to last minute tickets</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>
