<div class="container">
  <h1 class="display-3">Flare up your ticket</h1>
  <p class="lead">Don't let fun go to waste</p>
  <p>Flares is a platform where you can give your ticket to a stranger in the event of last minute cancellations.</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>
