<div class="container">
  <h1 class="display-3">Don't let fun go to waste</h1>
  <p class="lead">Let someone else take your place</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>
