@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .dropdown-menu {
  min-width: 0px;
}

.flare {
  // border: 3px solid #FCB040;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  border: 2px solid
}

.flare:hover {
  background-color: #FCB040;
  // color: #FCB040;

}


 .img-fluid {
  max-width: 400px;
  height: auto;
 }

 .img-profile-fluid {
  max-width: 250px;
  height: auto;

 }

 .comments-header {
   border-bottom: 1px dotted gray;
   margin-bottom: 10px;
 }

 .comments-container {
   p {
     margin-bottom: 0px;
   }
   .comment-nav {
     margin-left: 5px;
     margin-bottom: 10px;

     a {
       font-size: 10px;
       font-weight: bold;
       color: #888;
     }
   }
 }

 .reply-form {
   display: none;
 }

 .comments-show {
   margin-left: 25px;
 }

 .img-comment-profile {
  width: 35px;
  height: auto;
 }

 .navbar navbar{

 }

 input#q_location_cont {
  height: 35px;
 }

 input#q_title_cont {
  height: 35px;
 }

body.homepage {
  background-image: url(asset-path('rocket.jpeg'));
  background-size: cover;
  background-position: center 40%;
  .navbar {
    background-color: transparent;
  }
}

// body.nearby {
// background-color: #EAE3D1;
// }

body.discover {
  background-color: #EAE3D1;
}

div#maps {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2E2E38;
}

form.nearbybar {
  padding-bottom: 20px;
}

div#register {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

div#login {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

div#edituser {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #1F1F3C;

}

div#flareform {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #1F1F3C;

}

// .card {
//   background-color: #A7D0D2;
// }

.btn-primary {
  background-color: #2DB8AF;
  border-color: #2DB8AF;
:hover{
    background-color: #18B8B7;
  }
}

.form-control {
  background-color: #EAE9E8;
  border-color: #EAE9E8;
}

.jumbotron {
  color: #C86100;
}

.navbar {
color: #FCB040;
background-color: #2DB8AF;
// padding-top: 10px;
a {
  // border: 3px solid #FCB040;
  // border-radius: 3px;
  padding: 8px 16px;
  font-size: 14px;
  color: #FCB040;
  // background-color: #FCCA83;
}


a:hover {
  // background-color: #FCB040;
  color: #FCB040;
}

img {
  width: 30px;
  height: auto;
  padding: none;

}
}

button {
  background: transparent;
  border: none;
  font-size: 26px;
  /* position: static; */
  vertical-align: sub;
}

li.nav-item a.flare {
  display: inline-block;
  margin-top: 5px;
}

li.nav-item a.dropdown-toggle {
  display: inline-block;
}


@media (max-width: 830px) {
  ul.nav.navbar-nav.pull-md-right {
    display: block !important;
  }
}



h4.card-title a {
  color: #2DB8AF;
}

h4.card-title a:hover {
  color: #32827C;
}

.btn-primary:hover {
  background-color: #32827C;
  border: 1px solid #32827C;
}

navbar a:hover {
  color: blue !important;
}

.btn {
  background-color: #2DB8AF;
}


.display-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card card-block card-inverse card-primary text-xs-center {
  background-color: white;
}