@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .img-fluid {
  max-width: 400px;
  height: auto;
 }

 .img-profile-fluid {
  max-width: 180px;
  height: auto;

 }

 .comments-header {
   border-bottom: 1px dotted gray;
   margin-bottom: 10px;
 }

 .comments-container {
   p {
     margin-bottom: 0px;
   }
   .comment-nav {
     margin-left: 5px;
     margin-bottom: 10px;

     a {
       font-size: 10px;
       font-weight: bold;
       color: #888;
     }
   }
 }

 .reply-form {
   display: none;
 }

 .comments-show {
   margin-left: 25px;
 }

 .img-comment-profile {
  width: 35px;
  height: auto;
 }

 .navbar navbar{

 }

body.homepage {
  background-image: url(asset-path('rocket.jpeg'));
  background-size: cover;
  background-position: center 40%;
  .navbar {
    background-color: transparent;
  }
}


.jumbotron {
  color: #C86100;
}

.navbar {
color: #FCB040;
background-color: #2DB8AF;
a {
  // border: 3px solid #FCB040;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 12px;
  color: white;
  background-color: #FCCA83;
}

a:hover {
  background-color: #FCB040;
  color: white;
}

img {
  width: 30px;
  height: auto;

}
}



