// Place all the styles related to the flares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top {
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  width: 100%;
  position: absolute;
  display: inline-block;
  height: 20%;
  width: 20%;
}