<div class="container">
<div class="card-deck-wrapper">
  <div class="card-deck">
   <div class="card-columns">
    <%= render @flares %>
    <%#= render partial: 'comments/form', locals: { commentable: @flare } %>
    <%#= render partial: 'comments/comment', collection: @comments, locals: { commentable: @flare } %>
   </div> 
  </div>
</div>
</div>